<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" thread-count="2" parallel="false">

    <parameter name="browser" value="chrome"/>

    <test name="ChromeTest">

        <classes>
            <class name="AWForce.tests.Init"/>
            <class name="AWForce.tests.AWForceTest"/>
        </classes>

    </test>

    <!--UNCOMMENT BELOW LINES TO TEST IN OTHER BROWSERS-->

    <!--<test name="FirefoxTest">-->

    <!--<parameter name="browser" value="Firefox"/>-->

    <!--<classes>-->
    <!--<class name="AWForce.tests.AWForceTest"/>-->
    <!--</classes>-->

    <!--</test>-->

    <!--<test name="EdgeTest">-->

    <!--<parameter name="browser" value="Edge"/>-->

    <!--<classes>-->
    <!--<class name="AWForce.tests.AWForceTest"/>-->
    <!--</classes>-->

    <!--</test>-->

</suite>